body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f9fe;
  color: #525f7f;
}

main {
  height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.border-primary, .list-group, .list-group-item, .navbar.bg-light {
  border-color: #e2e8f0;
}

.card-img {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}

.breadcrumb {
  border: 2px solid #e2e8f0;
}